{% assign thumbnail_src = p.thumbnail %}
{% assign thumbnail_alt = p.title %}
{% assign thumbnail_flickr = p.flickr %}

<div class="row not-last">
  <div class="col-sm-4">
    {% include thumbnail.html %}
  </div>
  <div class="col-sm-8">
    <h4>{{ p.title }}</h4>
    <p>{{ p.caption.[page.lang] }}</p>
    <p>
      {% if p.downloads %}{% for download in p.downloads %}<a {% if download.video %}class="video-{{ download.video }}" {% endif %}href="{{ download.href }}" target="_blank">{{ download.desc }}</a>{% if download != p.downloads.last %}, {% endif %}{% endfor %}{% endif %}
    </p>
  </div>
</div>
